<script src="/admin/javascript/header.js">
</script>
<div class="tui-header">
    <div class="tui-col-1 tui-header-logo">
        <a href=""><img src="">
        </a>
    </div>
    <div class="tui-col-1">
        <ul class="tui-top-nav">
            <li>
                <a class="icon icon-tui-home tui-top-home " href=""></a>
            </li>
            <li class="tui-pop-sub">
                <a href="javascript:void(0)" class="icon icon-tui-grid tui-top-home"></a>
                <div class="tui-pop-container">
                    <div class="tui-pop-subNav">
                        <h3>导航</h3>
                        <dl class="tui-subnav-dl">
                            <dt><span>用户管理</span></dt>
                            <dd>
                                <ul class="tui-subnav-items">
                                    <li><a href="">添加用户</a>
                                    </li>
                                    <li>
                                        <a href="">编辑</a>
                                    </li>
                                </ul>
                            </dd>
                            <dt><span>内容管理</span></dt>
                            <dd>
                                <ul class="tui-subnav-items">
                                    <li><a href="">文章</a>
                                    </li>
                                    <li>
                                        <a href="">心情</a>
                                    </li>
                                    <li>
                                        <a href="">留言</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
            </li>
        </ul>

    </div>

    <div class="tui-col-4">
        <div class="tui-user-account">
            <div class="tui-user-info">
                <a href="javascript:void(0)">
                    <span class="tui-user-icon" style="background-image:url('/admin/images/usericon/photos.jpg')"></span>
                    <span class="tui-user-name">funiflying </span>
                </a>
                <div class="tui-pop-user">
                    <div class="tui-pop-userNav">
                        <ul class="tui-usernav-items">
                            <li><a href="" class="icon icon-tui-user"> 个人中心</a>
                            </li>
                            <li><a href="" class="icon icon-tui-off"> 退出</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>