<script type="application/javascript" src="/admin/javascript/modal.js"></script>
<div style="maring:20px;padding:20px;">
    <h3>按钮</h3>
    <button class="tui-btn tui-btn-blue">蓝色按钮</button>
    <input type="button" class="tui-btn tui-btn-default" value="按 钮">
    <input type="button" class="tui-btn tui-btn-blue" value="蓝色按钮">
    <input type="button" class="tui-btn tui-btn-lightblue" value="淡蓝色按钮">
    <a herf="#" class="tui-btn tui-btn-blue">蓝色按钮</a>
</div>
<div style="maring:20px;padding:20px;">
    <h3>弹出框</h3>
    <button class="tui-btn tui-btn-blue" id="modal">弹出框</button>
</div>
<div style="maring:20px;padding:20px;">
    <h3>表单</h3>
    <div class="tui-form-group">
        <label for="name">Name:</label>
        <input type="text" class="tui-form-control" id="name"/>
    </div>
    <div class="tui-form-group">
        <label for="name">Password:</label>
        <input type="Password" class="tui-form-control" id="name"/>
    </div>
    <div class="tui-form-group">
        <label for="file">上传</label>
        <input type="file" class="tui-form-control" id="file">
    </div>
    <div class="tui-form-group">
        <input type="radio" class="tui-form-control" id="man" name="sex">
        <label for="man">男</label>
         <input type="radio" class="tui-form-control" id="female" name="sex">
        <label for="female">女</label>
    </div>
     <div class="tui-form-group">
        <input type="checkbox" class="tui-form-control" id="fuz" name="sex">
        <label for="fuz">福州</label>
         <input type="checkbox" class="tui-form-control" id="xiam" name="sex">
        <label for="xiam">厦门</label>
    </div>
</div>